---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


body {
  cursor: url('/assets/favicon/coco2.png.png'), auto;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

.category-list li {
  margin-bottom: 5px;
}

.category-list a {
  color: #333;
  text-decoration: none;
}

.category-list a:hover {
  color: #0000FF;
  text-decoration: underline;
}